# Smart Contract Address (Sepolia or Localhost)
VITE_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# IPFS Configuration (Infura or local node)
# Example public gateway: https://ipfs.io/ipfs/
# Example API: https://ipfs.infura.io:5001
VITE_IPFS_API_URL=https://ipfs.infura.io:5001
VITE_IPFS_PROJECT_ID=
VITE_IPFS_PROJECT_SECRET=
